<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.ShareMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.Share" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="muserId" property="muserid" jdbcType="INTEGER" />
    <result column="suserId" property="suserid" jdbcType="INTEGER" />
    <result column="isAddReward" property="isaddreward" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.Share" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into share (muserId, suserId, isAddReward, 
      createTime)
    values (#{muserid,jdbcType=INTEGER}, #{suserid,jdbcType=INTEGER}, #{isaddreward,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.Share" >
    update share
    set muserId = #{muserid,jdbcType=INTEGER},
      suserId = #{suserid,jdbcType=INTEGER},
      isAddReward = #{isaddreward,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, muserId, suserId, isAddReward, createTime
    from share
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, muserId, suserId, isAddReward, createTime
    from share
  </select>
  <select id="selectBySuser" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select id, muserId, suserId, isAddReward, createTime
  from share
  where suserId = #{suserId,jdbcType=INTEGER}
</select>
  <select id="selectByMuserAndIsAddReward" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, muserId, suserId, isAddReward, createTime
    from share
    where muserId = #{muserId,jdbcType=INTEGER} and isAddReward = '1'
  </select>
  <select id="selectByMuser" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, muserId, suserId, isAddReward, createTime
    from share
    where muserId = #{muserId,jdbcType=INTEGER}
  </select>
</mapper>